@import 'githubMarkdown.css';

.MarkDown:first-child .MarkDown__Divider {
    display: none;
}

.MarkDown .MarkDown__Title {
    margin: 0;
    font-weight: normal;
    line-height: 1;
}

.MarkDown .MarkDown__Info {
    margin: 0;
    padding: 10px 0 30px;
    color: #666;
}


.MDExample {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.MDExample__Body {
    display: flex;
    border: 1px #e8e8e8 solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}


.MDExample__Info h3 {
    margin: 0;
}

.MDExample__Info p {
    margin: 0;
    color: #666;
    padding-bottom: 20px;
}

.MDExample__Code, 
.MDExample__Preview {
    flex: 1;
}

.MDExample__Code {
    border-right: 1px #e8e8e8 solid;
}

.MDExample__Title {
    background: #e8e8e8;
    font-weight: bold;
    padding: 5px 20px;
}

.MDExample__Content {
    padding: 10px 15px;
}

.MDExample__Content p {
    margin: 0px;
}

.MarkDown__Divider {
    text-align: center;
    margin-bottom: 40px;
    line-height: 1;
}

.MarkDown__Divider hr {
    border-top: 1px dashed #a9a9a9;
    width: 400px;
    display: inline-block;
    margin: 0;
    background: #f3f0f0;
    line-height: 1;
}

@media (max-width: 767px) { 
    .MarkDown__Divider hr { 
        width: 280px;
    }
}